body{
    padding:0;
    margin:0;
}

.vid-container{
    position:relative;
    height:100vh;
    overflow:hidden;
    background-color: #eeae44;
    background-image: url("./images/img_3.png");
    width: 100%;
    border-spacing: 0;
    background-repeat: round;
}

.inner {
    position: absolute;
}

.inner-container{
    width:400px;
    height: 650px;
    position:absolute;
    top:calc(50vh - 300px);
    left:calc(50vw - 200px);
    overflow:hidden;
}

.box{
    position:absolute;
    height:100%;
    width:100%;
    font-family: Helvetica;
    font-weight: lighter;
    color: #1a1e21;
    background: rgb(255, 255, 255, 0.6);
    padding:30px 0px;
    backdrop-filter: blur(3px);
}

.box h1{
    text-align:center;
    margin:30px 0;
    font-size:30px;
    font-weight: 100;
}

.box input{
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    border: 1px solid #A2A1A6;
    border-radius: 3px;
    font-weight: 100;
    opacity: .9;
}

.box img{
    display: block;
    margin: auto;
}

.box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
}

.box button{
    background:#1a1e21;
    border:0;
    color:#fff;
    padding:10px;
    font-size:20px;
    width:200px;
    margin:20px auto;
    display:block;
    cursor:pointer;
    border-radius: 2px;
    font-weight: lighter;
}

.box button:active{
    background: #eeae44;
}

.box p{
    font-size:14px;
    text-align:center;
    text-decoration: none;
}

.box p span{
    cursor:pointer;
    color:#666;
    text-decoration: none;
}

.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header img {
    width: 140px;
    height: 30px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #fff;
    color: black;
}

.header a.active {
    background-color: #eeae44;
    color: black;
}

.header-right {
    float: right;
}